<h1>HOST DETAIL</h1>

<table border="1">
    <tbody>
        <tr>
            <td>ID</td>
            <td><%= @host.id %></td>
        </tr>

        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.hostname %></td>
        </tr>

        
        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.class %></td>
        </tr>
    
        
        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.os %></td>
        </tr>
    
        
        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.cpu_num %></td>
        </tr>
    
        
        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.cpu_model %></td>
        </tr>
    
        
        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.memory %></td>
        </tr>
    
        
        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.ipaddress %></td>
        </tr>

        <tr>
            <td>HOSTNAME</td>
            <td><%= @host.subnet %></td>
        </tr>

    </tbody>

</table>


